body{
    font-family: 'Luxurious Roman', cursive;
    font-size: x-mediam;
    margin: 0;
}
h1{
    font-size: 50px;
    }
h2{
    font-size: 30px;
}    
    .orange-color{
        color: orangered;
    }
    .flexible-container{
        display: flex;
        margin-bottom:100px ;
    }
    .half-width{
        width: 70%;
        padding-left: 5%;
        
    }
    .half-width img{
        width: 70%;
    }
    .link-button{
        text-decoration: none;
        background-color: rgb(94, 255, 0);
        background-image: linear-gradient(green, yellow);
        font-weight: 700;
        padding: 10px 20px;
        border-radius: 5px;

    }
    .top-banner{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
    }
    .dream-big{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    .half-width{
        width: 70%;
        padding-left: 10%;
        margin-left: 10px;
        text-align: left;

        
    }
    .half-width img{
        width: 350;
        
        
    }
    .experience-area{
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
        
    }
    .experience-item{
        width: 40%;
        margin-left: 60px;
        margin-right: 40px;
        padding-left: 20px;
        border-radius: 10px;
        box-shadow: 10px 10px 40px gray;
    }
    #web-dev-experience{
        border-left: 7px solid;
        border-image: linear-gradient(red, green);
        border-image-slice: 1;
        
    }
    #full-stack-experience{
        border-left: 7px solid;
        border-image: linear-gradient(blue, yellow);
        border-image-slice: 1;
        
    }
    footer p{
        text-align: center;
    }
    